---
layout: default
---

<div class="home">

<h1>About Me</h1>

Hello, my name is Gabriel Grajeda. I am currently an undergraduate at Princeton University. My projects are listed below with descriptions. Feel free to email me at <a href = "">ggrajeda@princeton.edu</a> with any questions or comments.

<br>
<br>

<h1>Boston ZIP Earnings Project</h1>

<h2>Summary</h2>
The Boston ZIP Earnings Project uses several choropleth maps to help visualize the issue of economic segregation in Boston. I created this project to show how Boston city employee earnings have evolved over the past decade and, more importantly, to shed light on income disparities among Boston neighborhoods. I was originally interested in looking at this data because my mother is a teacher in the Boston Public Schools. I found that there exist significant disparities in median city employee salaries between Boston neighborhoods, even after blocking Boston city employees into groups of comparable education and profession. More details can be found on the <a href = "https://github.com/ggrajeda/boston-zip-earnings">repo's README</a> or the <a href = "https://ggrajeda.github.io/boston-zip-earnings/">project website</a>.

<br>
<br>

<h2>Note</h2>
This project is currently undergoing review to be hosted on the City of Boston's <a href = "https://data.boston.gov/showcase">Analyze Boston Showcase</a>.

<br>
<br>

<h2>Links</h2>
Source code for the project can be accessed at <a href = "https://github.com/ggrajeda/boston-zip-earnings">the project repo</a>. The project itself can be accessed <a href = "https://ggrajeda.github.io/boston-zip-earnings/">here</a>.

<br>
<br>

<h1>Coding Car</h1>

<h2>Summary</h2>
I created the Coding Car project in the summer of 2016, when I was a rising junior in high school. The point of the project is to introduce kids to coding in a more entertaining way. When the project was up and running, students would visit <a href = "https://ggrajeda.github.io/coding-car/">this website</a> (looks best on Chrome) and learn to program a remote-controlled car at three different levels: <b>Play</b>, <b>Learn</b>, and <b>Get Coding!</b>. More details can be found on the <a href = "https://github.com/ggrajeda/coding-car">repo's README</a>.

<br>
<br>

<h2>Links</h2>
Source code for the project can be accessed at <a href = "https://github.com/ggrajeda/coding-car">the project repo</a>. The project itself can be accessed <a href = "https://ggrajeda.github.io/coding-car/">here</a>.

<br>
<br>

<h1>Other Personal Projects</h1>

<h2>VIMBoost</h2>
I am currently implementing a new random forest algorithm in C++ and R, under the guidance of Assistant Professor Marc Ratkovic. This new algorithm retrieves more meaningful variable importance measures by partialing variables into <i>predicted</i> and <i>partialed-out</i> components, and then creating lookahead trees on what has been partialed out. An initial brute-force implementation of the algorithm by Prof. Ratkovic and a graduate student took 8+ hours on a 16-core computer. My implementation currently takes less than two minutes on a 7-year-old dual-core laptop.

Prof. Ratkovic's paper on the subject is still in the process of publication, and my code is being converted into an R package, so I cannot yet upload my contributions publicly to GitHub. However, you can find the slides for a presentation I gave to incoming Princeton freshmen on the subject <a href = "https://docs.google.com/presentation/d/1wB6g0gdCDQKx1hLhC0wLswiwwZG4CmK8dMTFZYFPgkY/edit?usp=sharing">here</a>.

<br>
<br>

<h2>Smart Plug</h2>
I created the Smart Plug in the summer of 2017, when I was a rising senior in high school. The point of the project is to make smart home devices more affordable. Companies often charge high prices for simple smart appliances, like chargers, lights, and AC units. The "smartest" thing about these appliances is that you could turn them on and off remotely. So, instead of making the appliances smart, I realized that we could make the power source smart. The smart plug was a power strip with four smart sockets, which could be scheduled and toggled manually on <a href = "https://io.adafruit.com/gabrielgrajeda/dashboards/smartplug">this website</a> when the project was up and running. The power strip also contained a temperature and humidity sensor, to enable the automatic toggling of AC units.

I haven't uploaded this project yet because it's not as aesthetic or impressive as the projects above, and the code itself isn't very interesting. The Particle Photon simply waits for instructions to toggle four relays and updates the temperature and humidity readings. Building the project took quite some time, however, especially since I was just learning to code. I am working on finding old photos and videos documenting the project. I might upload some of this project documentation, as it might be of interest to others.

<br>
<br>

<h3>Note</h3>
Smart plugs are actually <a href = "https://www.wired.com/gallery/best-smart-plugs/">really common now</a>. Back in 2017, however, the concept of a smart plug was relatively new, and not many vendors were selling the product. Google searches for "smart plug" in May 2017 were about 10 percent of what they were in December 2019 (holiday season), and a third of what they were in May 2020. The Google Trends data can be found <a href = "https://trends.google.com/trends/explore?date=all&geo=US&q=smart%20plug">here</a>.

<br>
<br>

<h1>Course Projects</h1>
To prevent against plagiarism, my course projects cannot be uploaded to GitHub, but some of them may still be of interest. For each course, I have listed the three most notable projects.

<br>
<br>

<h2>Introduction to Java Programming (COS 126)</h2>
<ol>
  <li> <b>N-body Simulation</b>: Simulated the motion of <i>n</i> particles under mutual gravitational forces and animated the results. </li>
  <li> <b>Markov Model</b>: Generated stylized pseudo-random text after training on large text files. </li>
  <li> <b>Traveling Salesperson Problem</b>: Implemented the two greedy "nearest neighbor" and "smallest increase" heuristics to find reasonable (but suboptimal) solutions to the traveling salesperson problem. </li>
</ol>

<h2>Algorithms and Data Structures (COS 226)</h2>
<ol>
  <li> <b>Autocomplete</b>: "Autocompleted" queries with the closest matching strings in a large text file. </li>
  <li> <b>kd Trees</b>: Implemented a 2d-tree to optimize range searches and nearest-neighbor searches. </li>
  <li> <b>Seam Carving</b>: Implemented the content-aware image resizing algorithm known as "seam carving." </li>
</ol>

<h2>Introduction to Programming Systems (COS 217)</h2>
<ol>
  <li> <b>Symbol Table</b>: Implemented a symbol table as a linked list and a hash table. </li>
  <li> <b>Heap Manager</b>: Wrote five different implementations of a memory heap manager, including a linked list implementation, a doubly-linked list implementation, and a bins implementation. </li>
  <li> <b>Unix Shell</b>: Implemented my own shell, handling lexical analysis, syntactic analysis, external commands, built-in commands, redirection, and signals. </li>
</ol>

</div>